{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Esainbolt | Password Change</title>
    <link rel="stylesheet" type="text/css"href="{% static 'route/css/password_change.css' %}"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>
<body>
    <div class="text-center" style="padding:50px 0">
	<div class="logo">비밀번호 변경</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left" method="post">
		{% csrf_token %}
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						{{form.oldpassword|add_class:"form-control"|attr:"placeholder:현재 비밀번호"|attr:"name:email"|add_error_class:"error"}}
						{% for error in form.oldpassword.errors %}
							<div class="error-message">{{ error }}</div>
						{% endfor %}
					</div>
					<div class="form-group">
						{{form.password1|add_class:"form-control"|attr:"placeholder:새 비밀번호"|attr:"name:password1"|add_error_class:"error"}}
						{% for error in form.password1.errors %}
							<div class="error-message">{{ error }}</div>
						{% endfor %}
					</div>
					<div class="form-group">
						{{form.password2|add_class:"form-control"|attr:"placeholder:새 비밀번호 (확인)"|attr:"name:password2"|add_error_class:"error"}}
						{% for error in form.password2.errors %}
							<div class="error-message">{{ error }}</div>
						{% endfor %}
					</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<br>
				<a href="{% url 'account_login' %}">로그인으로 돌아가기</a>
			</div>
		</form>
	</div>
</body>
</html>
