{% extends 'route/base-small-logo.html' %}
{% load static %}
{% block title %}
    <title>Esainbolt | Community Detail</title>
{% endblock title %}
{% block body-content %}
    <div class="title">
        <h2>{{community.title}}</h2>
    </div>
    <div class="date-time">
        <h5>{{community.date.date}}</h5>
        <h5>{{community.date.time}}</h5>
    </div>
    <div class="body">
        <p>{{community.body}}</p>
    </div>
    <br>
    <br>
    <a href="{% url 'community:communityEdit' community.id %}">수정하기</a>
    <a href="{% url 'community:communityDelete' community.id %}">삭제하기</a>

<!-- 라이브리 시티 설치 코드 -->
<div id="lv-container" data-id="city" data-uid="MTAyMC81NDcwMC8zMTE3MQ==">
<script type="text/javascript">
    (function(d, s) {
        var j, e = d.getElementsByTagName(s)[0];
    
        if (typeof LivereTower === 'function') { return; }
    
        j = d.createElement(s);
        j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
        j.async = true;
    
        e.parentNode.insertBefore(j, e);
    })(document, 'script');
</script>
</div>
<!-- 시티 설치 코드 끝 -->


{% endblock body-content %}