{% load static %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esainbolt | Community Posting Edit</title>
</head>
<body>
    <div class="logo"><img src={% static 'route/images/logo.png' %}></div>
    <div class="editposting">
        <h3>글 수정하기</h3>
    </div>
    <form action="{% url 'community:communityUpdate' community.id %}" method="post">
        {% csrf_token %}
        <p>Title:<input type="text" name="title" value="{{community.title}}"></p>
        <p>Content: <br>
            <textarea name="body" id="" cols="50" rows="30">{{community.body}}</textarea></p>
        <button type="submit">완료</button>
    </form>
</body>
</html>