{% extends 'route/base-small-logo.html' %}
{% load static %}
{% block title %}
    <title>Esainbolt | Community New Posting</title>
{% endblock title %}
{% block body-content %}
    <div class="newposting">
        <h3>새로운 글 작성하기</h3>
    </div>
    <form action="{% url 'community:communityCreate' %}" method="post">
        {% csrf_token %}
        <p>Title:<input type="text" name="title" id=""></p>
        <p>Content: <br>
            <textarea name="body" id="" cols="50" rows="30"></textarea></p>
        <button type="submit">완료</button>
    </form>
{% endblock body-content %}