{% extends 'route/base-small-logo.html' %}
{% load static %}
{% block title %}
    <title>Esainbolt | Community Detail</title>
{% endblock title %}
{% block body-content %}
    <div class="title">
        <h2>{{community.title}}</h2>
    </div>
    <div class="date-time">
        <h5>{{community.date.date}}</h5>
        <h5>{{community.date.time}}</h5>
    </div>
    <div class="body">
        <p>{{community.body}}</p>
    </div>
    <br>
    <br>
    <a href="{% url 'community:communityEdit' community.id %}">수정하기</a>
    <a href="{% url 'community:communityDelete' community.id %}">삭제하기</a>
{% endblock body-content %}