{% load static %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esainbolt | Community Detail</title>
</head>
<body>
    <div class="logo"><img src={% static 'route/images/logo.png' %}></div>
    <div class="title">
        <h2>{{community.title}}</h2>
    </div>
    <div class="date-time">
        <h5>{{community.date.date}}</h5>
        <h5>{{community.date.time}}</h5>
    </div>
    <div class="body">
        <p>{{community.body}}</p>
    </div>
</body>
</html>