{% extends 'route/base-navbar.html' %}
{% load static %}
{% block title %}
    <title>Esainbolt | Main</title>
{% endblock title %}
{% block body-content %}
    <div class="search-bar">
        <div class="greeting">
            {% if user.is_authenticated %}
                <p>⋆⁺₊⋆ 안녕하세요, <strong>{{user.nickname}}</strong>님! ☾⋆⁺₊⋆<br>
                    각 건물 간의 최단 이동 방법을 알려드리겠습니다.</p>
            {% else %}
                <p>로그인 후 이용하실 수 있습니다.</p>
            {% endif %}
        </div>
        <nav class="navbar navbar-light navbar-nav ms-auto">
            <div class="search-bar-green">
                <form action="{% url 'search:search' %}" method="GET">
                    <input class="form-control me-2" type="search" placeholder="목적지를 입력해주세요." aria-label="Search" name="kw">
                </form>
            </div>
        </nav>
    </div> 
    <div class="campus-map"><img src={% static 'route/images/campus_map.jpg' %}></div>
{% endblock body-content %}